:root {
	--base: green;
}

#background, .btn-primary {
	background-color: var(--base);
}

#text, #author {
	color: var(--base);
}

.btn-primary:hover {
  background-color: dimgray;
}

.btn-primary {
	border: none;
}

#tumblr-quote {
	color: white;
}

#me, #me > a {
	color: white;
	text-decoration: none;
	font-size: 0.8rem
}

#credit, #credit > a {
	color: lightgrey;
	text-decoration: none;
	font-size: 0.7rem
}